<p>Are you sure you want to delete this savings account?</p>

<center>
  <div>
    <p><%= @savings.item %></p>
    <p>$<%= @savings.price %></p>
    <p>$<%= @savings.amount_saved %></p>
    <p><%= @savings.priority_level %></p>
    <form method="post" action="/savings/<%=@savings.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="Delete">
      <input class="myButton" style="float:left;" type="submit" value="Delete">
      <br>
      <a href="/savings"><button type="button" class="myButton">Cancel</button></a>
    </form>
  </div>
</center>

