<h2> Edit This Savings Account </h2>

<form method="post" action="/savings/<%=@savings.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Item</label>
    <input type ="text" id="item" name="item" value="<%= @savings.item %>" required>
    <label>Price</label>
    <input type ="text" id="price" name="price" value="<%= @savings.price %>" required>
    <label>Amount Saved</label>
    <input type ="text" id="amount_saved" name="amount_saved" value="<%= @savings.amount_saved %>" required>
    <label>Priority</label>
    <select id="priority_level" name="priority_level" required>
      <option value="<%= @savings.priority_level %>"></option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <input type ="submit" class="myButton" value="Update">
</form>

    