<h1><%= @user.name %>'s Savings Accounts</h1>
<br>
<a href="/savings/new"><button type="button" class="">Create A New Savings Account</button></a>
<br>
<br>
<% @savings.each do |savings| %>
  <%= savings.item %>
  <%= savings.price %>
  <%= savings.amount_saved %>
  <%= savings.priority_level %>
<% end %>
