<h1>Your Savings Accounts</h1>
#<%= @user.name %> Want to display user's first name
<br>
<% @savings.each do |savings| %>
  <%= savings.item %>
  <%= savings.price %>
  <%= savings.amount_saved %>
  <%= savings.priority_level %>
<% end %>
