<h1><%= current_user.name %>'s Savings Accounts</h1>
<br>
<a href="/savings/new"><button type="button" class="myButton">Create A New Savings Account</button></a>
<a href="/logout"><button type="button" class="myButton">Logout</button></a>
<br>
<br>
<% @savings.each do |savings| %>
  <div style="border: 2px solid grey; height: 175px; width: 200px; float: left; margin: 10px; padding: 10px; background-color: lightgrey;">
    <p><%= savings.item %></p>
    <p><%= savings.price %></p>
    <p><%= savings.amount_saved %></p>
    <p><%= savings.priority_level %></p>
    <p><a href="/savings/<%=savings.id%>/edit"><button type="button" class="myButton">Edit</button></a>
        <a href="/savings/<%=savings.id%>/delete"><button type="button" class="myButton">Delete</button></a></p>
  </div>
<% end %>
